body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.formContainer {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
}
.header, .headerSpace {
    height: 10%;
  }
  
  .footer, .footerSpace {
    height: 50px;
  
  }

.header {
    display: none;
    justify-content: space-between;
    top: 0mm;
    width: 100%;
    background: white; /* for demo */
    
}

.headerDesktop {
    display: flex;
    justify-content: space-between;
    top: 0mm;
    width: 100%;
    background: white; /* for demo */
}

h1 {
    font-size: 1.5em;
}

.logo {
    border: 1px solid #F58634
; /* for demo */;
    width: 30%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;

    img{
        width: 100%;
        height: auto;
    }
}
.headerTxt{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F58634
;
    border-radius: 10px;
    width: 70%;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.consultorEData{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 5px;

    :last-child{
        text-align: center;
    }

    #consultor{
        height: 20px;
        width: 80%;
        border: 1px solid #F58634
;
        border-radius: 10px;
        padding: 20px;
        margin: 0;
        margin-right: 5px;
        

    }

    #data{
        height: 20px;
        width: 20%;
        border: 1px solid #F58634
;
        border-radius: 10px;
        padding: 20px;
        margin: 0;

    }

    p {
        padding: 5px;
        border: 1px solid #F58634
;
    }
}

.msgFixa{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: #3892c7;
    color: white;
    margin-bottom: 5px;
    border-radius: 10px;

    p{
        padding: 20px;
        margin: 0;
    }

    margin-top: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    border: 1px solid #F58634
; /* for demo */;
    border-radius: 10px;
    padding: 20px;
    
    :last-child{
        border: none;
        
    }
    p {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        box-sizing: border-box;
        min-height: 30px;

    }
}

.content-block{
    border-bottom: 1px solid #F58634
;
    margin-bottom: 25px;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

.footer {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white; /* for demo */
    z-index: 1000;
    p {
        margin: 1px 0;

    }
}

.footerDesktop {
    display: flex;
    text-align: center;
    bottom: 0;
    width: 100%;
    background: white; /* for demo */
    z-index: 1000;
    p {
        margin: 1px 0;

    }
}

#emailAnexo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: lightgrey;
    font-weight: bold;
}

/* Estilos para impressão */

@media print {

    .footer{
        display: flex;
    }

    .footerDesktop{
        display: none;
    }


    .formContainer {
        box-shadow: none;
        margin: 0;
        padding: 0 10px;
        width: 100%;
       
    }
    
    header {
        margin-bottom: 0;
    }

    #footerTxt {
        background-color: white;
    }

    .headerTxt{
        -webkit-print-color-adjust: exact;
    }

    .msgFixa{
        -webkit-print-color-adjust: exact;
        
    }

    @page {
        @bottom-right {
          content: counter(page) ' of ' counter(pages);
        }
      }



    thead {display: table-header-group;} 
    tfoot {display: table-footer-group;}
    
    
    body {margin: 0;}
}
 