body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
td{
  padding: 0;
}
.wrapper {
  display: flex;
  margin-bottom: 10px;
}
.contentWrapper {
  display: flex;
  .content-block {
    width: 50% !important;
  }
  .content-block:last-child {
    border-bottom: 1px solid var(--azul);
    margin-left: 10px;
  }
  .content-block:first-child {
    margin-right: 10px;
  }
}
:root {
  --laranja: #f58634;
  --azul: #3892c7;
}
.formContainer {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
}
.header,
.headerSpace {
  height: 10%;
}
.footer,
.footerSpace {
  height: 70px;
}
.header {
  display: none;
  justify-content: space-between;
  top: 0mm;
  width: 100%;
  margin-bottom: 10px;
  background: white;

}
.headerDesktop {
  display: flex;
  justify-content: space-between;
  top: 0mm;
  width: 100%;
  background: white;
  margin-bottom: 10px;
  height: 110px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}
.logo {
  border: 1px solid var(--azul);
  width: 30%;
  margin-right: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}
.logoFooter {
  border: 1px solid var(--azul);
  width: 20%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: auto;
    height: 100%;

  }
}
.headerTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--azul);
  border-radius: 10px;
  width: 70%;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
#footerTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--azul);
  margin-left: 10px;
  border-radius: 10px;
  width: 80%;
}
#consultorEData {
  display: flex;
  justify-content: space-between !important;
  align-content: center;
  :last-child {
    text-align: center;
  }

  p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
  }
}
#data {
  width: 30%;
}
.content {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--azul);
  border-radius: 10px;
  width: 90%;
  padding: 20px;
  label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  :last-child {
    border: none;
  }
  p {
    font-family: monospace;
    text-align: justify;
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    min-height: 30px;
  }
}
.content-block {
  border-bottom: 1px solid var(--azul);
  margin-bottom: 10px;
}
label {
  margin-top: 10px;
  font-weight: bold;
}
.footer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  p {
    margin: 1px 0;
  }
}
.footerDesktop {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.9em;
  bottom: 0;
  width: 100%;
  background: white; 
  height: 80px;
  p {
    margin: 1px 0;
  }
}
#grupoRubrica {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
#rubrica {
  margin-left: 10px;
  width: 10%;
  border: 1px solid var(--azul);
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
#rubrica p {
  position: absolute;
  bottom: 10px;
  color: var(--azul); 
  left: 26px; 
  transform: rotate(270deg); 
  margin: 0;
  transform-origin: bottom left; 
}
#conteudoGrupoRubrica {
  width: 90%;
  margin-right: 20px;
}
.msgFixa {
  display: flex;
  justify-content: center !important;
  align-content: center !important;
  background-color: var(--laranja);
  color: white;
  margin-bottom: 20px;
  border-radius: 10px;

  p {
    text-align: center !important;
    padding: 20px !important;
    margin: 0;
    font-weight: bold;
  }

  margin-top: 5px;
}
.contadorHoras{
  display: flex;
  justify-content: center !important;
  align-content: center !important;
  border: 1px solid var(--azul) !important;
  color: black;
  margin-bottom: 20px;
  border-radius: 10px;
  

  p {
    text-align: center !important;
    padding: 5px !important;
    margin: 0;
    font-weight: bold;
  }

  margin-top: 5px;
}

/* Estilos para impressão */
@media print {
  @page {
    size: A4;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: white;
  }
  .content {
    width: 84%;
    }
   .footer {    
    display: flex;
    z-index: 1;

    p {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
      font-size: 0.8em;
    }

  }
   .footer {
    justify-content: center;
    position: fixed;
    bottom: 0 !important;
    text-align: center;
    margin-top: 20px;
    
  } 
  .footerDesktop {
    visibility: hidden;

  }
  .formContainer {
    box-shadow: none;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    height: 100%;
  }
  .header,
  .headerSpace {
    background-color: white;
    margin-bottom: 20px;

  }
  .footer,
  .footerSpace {
    margin-top: 20px;

  }
  .logoFooter{
    margin-left: 13px;
  }
  #footerTxt {
    width: 80%;
    margin-right: 10px;
    background-color: white;
    p {
      color: black !important;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
  .headerTxt {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .msgFixa {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  @page {
    @bottom-right {
      content: counter(page) " de " counter(pages);
      margin-right: 10px;
      font-family: Arial, sans-serif;
      font-weight: bold;
    }
    
  }
  #rubrica {
    position: fixed;
    top: 125px;
    right: 10px;
    width: 55px; 
    height: 835px; 
    border: 1px solid var(--azul); 
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

  }
  #rubrica p {
    bottom: 70px;
    left: 25px;
    writing-mode: vertical-rl; 
    text-align: center;
    transform: rotate(180deg);
    margin: 0;
  }
  #pageborder {
    position: fixed;
    left: 13px;
    right: 80px;
    top: 125px;
    bottom: 85px;
    border: 1px solid var(--azul);
    border-radius: 10px;
    z-index: 1;
  }
    .content{
       border: none;
    }
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
}